{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "cypress"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  }
}
