@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

.example {
  @include component;

  &__container {
    padding: 25px 0 0 25px;
  }

  &__detail {
    margin-right: 5px;
  }

  &__ddo {
    line-height: 16px;
  }

  &__buy {
    margin-top: 20px;
  }
}