.root {
  background-color: aqua;
}

.form {
  background: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formElement {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  width: 50%;
  justify-content: space-between;
  border: 2px solid maroon;
  //   flex: 0 0 50%;
  textarea {
    width: 50%;
  }
}
