.root {
  background-color: aqua;
}

.form {
  background: mediumseagreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formElement {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  width: 50%;
  justify-content: space-between;
  border: 2px solid mediumseagreen;
  //   flex: 0 0 50%;
  textarea {
    width: 50%;
  }
  label {
    border: 2px dashed aqua;
  }

  input {
    border: 2px dashed aqua;
  }
}
