.root {
  background-color: maroon;
}

.navigationButtonContainer {
  margin: 0.9em 0;
  background-color: mediumaquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    text-transform: capitalize;
    color: greenyellow;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: mediumpurple;
    border-radius: 5%;
    box-shadow: 0px 0px 5px gray;
    &:disabled {
      background-color: gray;
      color: white;
    }
  }
}
