@import './normalize.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: 'Archia', sans-serif;
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 10ch;
}

.App {
  text-align: center;
  height: 100vh;
}

h1 {
  margin-top: 0;
}

.registration-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__form {
    margin: 0 auto;
    // width: 80%;
    width: 100%;
    background-color: burlywood;
  }

  &__form-list {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
  }
  &__formfield {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    // flex-wrap: wrap;
    // border: 2px solid red;
    // display: flex;
    // flex-direction: row;
    // justify-content: left;
    // flex: 1 0 50%;
    // justify-content: space-around;
    // flex: 0 50%;
    // align-items: center;
    // padding: 0.2em;
  }

  // &list {
  //   display: flex;
  // }
  &__formfield-label {
    flex: 1;
    border: 2px solid green;
    padding: 0.2em;
    text-transform: uppercase;
  }
  &__formfield-textarea {
    flex: 2;
    padding: 0.2em;
    width: 20em;
    height: 10em;
    background: mintcream;
  }
  &__formfield-file {
    flex: 2;
    padding: 0.2em;
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mintcream;
  }
  &__formfield-filepreview {
    display: flex;
    flex: 3;
    justify-content: center;
    border: 2px solid blue;
    padding: 0.2em;

    height: 100%;
    img {
      width: 50%;
      height: 50%;
      object-fit: cover;
    }
  }
  &__formfield > input {
    padding: 0.2em;
    flex: 2;
    background: mintcream;
  }
}
