# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: NPM Release

on:
  push:
    tags:
      - "v*.*"

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "17.x"
          registry-url: https://registry.npmjs.org/
      - run: cd lib && yarn install --ignore-engines
      - run: cd lib && yarn build:tsc
      - run: cd lib && npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
